# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.db
*.opendb

# Precompiled Headers
*.gch
*.pch
*.ipch
/.vs*

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

#sfml

SFML-2.5.1/bin
SFML-2.5.1/doc
SFML-2.5.1/examples